.music__container {
    position: absolute;
    top: 0;
    right: 10px;
    left: 55svw;
    top: 75px;
}

.player {
    display: flex;
    flex-flow: row;
    gap: 10px;
    justify-content: left;
    align-items: center;
    width: 100%;

    border: 2px solid var(--highlight-color);
    border-radius: 10px;
    margin-bottom: 10px;
}

.background__orange {
    background-color: rgba(255, 165, 0, 0.5);
}

.player > div > p {
    margin: 0;
}

.play_pause-button {
    height: 30px;
    width: 30px;
}

.pause-icon {
    display: none; /* Initially hide the pause icon */
}

@media (max-width: 800px) {
    .player {
        width: 100%;
        border: 2px solid black;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .player > div > p {
        margin: 10px;
    }
}