.projects__container{
    position: absolute;
    top: 0;
    right: 10px;
    left: 55svw;
    top: 50px
}

.projects__grid{
    display: grid;
    grid-template-columns: 50% 50%;

    & .brief{
        padding-right: 10px;
        & .type {
            color: orange;
            padding-right: 3px;
            font-weight: 900;
            text-transform: uppercase;
        }
    }

    & .selected {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 14px;
        width: 20px; /* Size of the circle */
        height: 20px; /* Size of the circle */
        border-radius: 50%; /* Make it round */
        display: flex; /* Enables flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        /* Additional styles for the circle */
        border: 3px solid orange; /* Circle border */
        font-size: 10px; /* Number size */
    }

    & .index {
        position: relative;
        float: left;
        margin-top: 5px;
        margin-bottom: 0;
        margin-right: 14px;
        width: 20px; /* Size of the circle */
        height: 20px; /* Size of the circle */
        border-radius: 50%; /* Make it round */
        display: flex; /* Enables flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        /* Additional styles for the circle */
        border: 2px solid #000; /* Circle border */
        font-size: 10px; /* Number size */
    }

    & .index--image {
        width: 20px; /* Size of the circle */
        height: 20px; /* Size of the circle */
        border-radius: 50%; /* Make it round */
        display: flex; /* Enables flexbox */
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        /* Additional styles for the circle */
        border: 2px solid black; /* Circle border */
        font-size: 10px; /* Number size */
        position: absolute;
        top: 10px;
        left: 10px;
        color: black
    }

    & img {
        padding-top: 10px;
        width: 100%;
        opacity: 0.5;
        text-align: right;
    }

    & img:hover {
        filter: invert(75%);
    }
}

@media (max-width: 1600px) {
    .projects__container {
        top: 50px;
    }
}

@media (max-width: 1200px) {
    .projects__grid {
        display: flex;
        flex-flow: column;
        flex-direction: column-reverse;
    }
}

@media (max-width: 600px) {
    .projects__container {
        display: block;
        overflow-x: clip;
        position: absolute;
        margin: 0 10px;

        top: 70px;
        right: 0px;
        left: 0;
        max-width: 100vw;
        overflow-y: scroll;
        padding: 0 10px;

        & img {
            opacity: 0.7;
        }
    }

    p {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 1.5;
    }

}

@media (max-width: 480px) {
    p {
        font-size: 16px;
        line-height: 24px;
    }

    .about {
        p {
            font-size: 16px;
            line-height: 1.5;
        }
    }
}