.resume__container{
    position: absolute;
    right: 10px;
    top: 60px;
    left: 55svw;

    & p {
        margin-top: 2px;
    }

    & .intro {
        text-transform: uppercase;
        font-size: 2rem;
    }
}

.off-screen-right{
    transform: translateX(120%);
    /* transition: transform 500ms linear;  */
    display: none;
}

.on-screen {
    transform: translateX(0%);
    /* transition: transform 300ms ease-in; */
}

.resume__container-divider{
    /*color: black; */
    text-align: left;
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 10px;
}


.bio-img {
    position: relative;
    float: right;
    z-index: -1000;
    opacity: 0.5;
    width: 50%;
    margin-left: 20px;
}

.experience{
    display: grid;
    grid-template-columns: 20% 50% 30%;
    gap: 10px;

    & h1 {
        color: var(--text-color);
    }

    & p:first-child {
        color: var(--text-color);
    }

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }

}

.education{
    display: grid;
    grid-template-columns: 20% 65% 15%;
    gap: 10px;

    & p {
        margin-bottom: 5px;
        margin-top: 0;
    }

    & p:first-child {
        color: var(--text-color);
    }

    & p:last-child {
        text-align: end;
        margin-right: 20px;
    }
}

@media (max-width: 1600px) {
    .resume__container{
        top: 60px;

        & .intro {
            font-size: 1.5rem;
        }
    }

    .resume__container-divider {
        font-size: 1.5rem;
    }

}

@media (max-width: 600px) {
    .resume__container {
        left: 15px;
        right: 15px;
        top: 80px;
        height: fit-content;
        border: none;
        background-color: transparent;
    }

    .resume__container-divider {
        border-top: orange 2px solid;
    }

    .experience, .education{
        border-bottom: black solid 1px;
    }

}

