:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: "IBMPlexMono-Bold";
  src: local("IBMPlexMono-Bold"), url("/fonts/IBMPlexMono-Bold.otf") format("woff")
}

@font-face {
  font-family: "IBMPlexMono-Light";
  src: local("IBMPlexMono-Light"), url("/fonts/IBMPlexMono-Light.otf") format("woff")
}

.app.light {
  --bg-color: #ffffff;
  --text-color: #000000;
  --highlight-color: orange;
}

.app.dark {
  --bg-color: #000000;
  --text-color: white;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: IBMPlexMono-Light, serif;
  overflow-x: hidden;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}
